main {
    width: 1200px;
    margin: 0 auto;
    border: 0.5px solid gray;
}

.header__title {
    margin: 0 auto;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    
}

.header {
    background-color: rgb(247, 136, 0);

}

.header__bottom {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 217, 0);
    line-height: 60px;
}


#pchp, #yourhp {
    font-size: 36px;
    font-weight: 900;
}

.vs {
    font-size: 28px;
    font-weight: 900;
}

.game__wrapper {
    width: 100%;
    display: flex;
    background-image: url(../img/battlebackground.png);
    background-size: cover;
    justify-content: space-between;
}

.enemy__wrapper img {
    width: 200px;
    padding: 36px 0px;
    
}

.enemy__comments {
    font-size: 24px;
    background-color: white;
    height: 80px;
}

#power{
    text-align: right;
    width: 100px;
}

#pc_hands {
    font-size: 28px;
    text-align: right;
    font-weight: bold;
}

.enemy__imgs {
    display: flex;
}

/* .enemy__power {
    display: none;
} */


.game__intro {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    
}

.PC_choice {
    margin-left: 170px;
    height: 84px;
    width: 300px;
    font-size: 40px;

}

.comment__choice {
    height: 100px;
    width: 350px;
    margin-left: 120px;
    background-color: white;
    font-size: 24px;
    border-radius: 10px;
    line-height: 40px;
}

.comment__hidden {
    display: flex;
    justify-content: space-around;
}

#result {
    font-size: 30px;
    font-weight: bold;
}


#return {
    display: none;
}

.PC_choice {
    color: white;
}

#your_gu_btn {
    background-color: red;
}

#your_cho_btn {
    background-color: green;
}

#your_par_btn {
    background-color: blue;
}

.kinniku__img2 {
    display: none;
}

.win {
    position: fixed;
    width: 1200px;
    text-align: center;
    z-index: 9999;
    background-color: red;
    margin-top: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    display: none;
}

.lose {
    position: fixed;
    width: 1200px;
    text-align: center;
    z-index: 9999;
    background-color: blue;
    margin-top: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    display: none;
}

.intro {
    position: fixed;
    width: 1200px;
    height: 780px;
    text-align: center;
    z-index: 9999;
    background-color: rgb(247, 136, 0);
    line-height: 200px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    /* display: none; */
}

#introstart {
    width: 400px;
    height: 100px;
    font-size: 50px;
}

.detail {
    position: fixed;
    width: 1200px;
    height: 780px;
    text-align: center;
    z-index: 9000;
    background-color: rgb(247, 136, 0);
    color: white;
    /* display: none; */
}

.detail__title {
    font-size: 40px;
    font-weight: bold;
    margin: 50px;
}

.detail__contents {
    font-size: 32px;
    font-weight: bold;
}

span {
    color: black;
}

.yarunokai {
    font-size: 44px;
    color: white;
}

#detailstart {
    width: 400px;
    height: 100px;
    font-size: 50px;
}